.searchForm {
    color: rgb(255, 187, 0);
    width: 100px;

    height: 100px ;
 };

 form{
   width: 500px;
   height: 200px ; 
 }
input{
   font-size: large;
   margin-left: 30px;
   width: 500px;
   padding: 5px;
     }